* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Neutral */
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);

  /* Font */
  --font-family: "Roboto", sans-serif;
  --regular-weight: 400;
  --bold-weight: 700;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--Dark-Slate-Grey);
  font-family: var(--font-family);
}

.main-container {
  width: 100%;
  max-width: 1040px;
  margin: auto;
  position: relative;
  background-color: var(--White);
  border-radius: 2em;
  padding: 1em;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.top-content h1 {
  font-size: 52px;
  font-weight: var(--bold-weight);
  color: var(--Dark-Slate-Grey);
  padding-bottom: 0.4em;
}

.top-content p {
  font-size: 16px;
  color: var(--Charcoal-Grey);
  padding-bottom: 1em;
}

.content-list {
  padding-top: 1em;
  padding-bottom: 1em;
}

.list-items {
  display: flex;
  list-style: none;
}

.list-items p {
  padding-left: 1em;
}

.bottom-content {
  padding-top: 0.1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form input {
  padding: 1.5em;
  border-radius: 8px;
  border: 0.1px solid var(--Charcoal-Grey);
}

.form-btn {
  padding: 1.5em;
  border-radius: 8px;
  border: 0.1px solid var(--Charcoal-Grey);
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
}

.form-btn:hover {
  cursor: pointer;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification {
  display: none;
  background-color: var(--White);
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-radius: 2.5em;
}

.notification-details {
  width: 100%;
  margin: auto;
  padding: 3em;
}

.notification h2 {
  font-size: 48px;
  font-weight: var(--bold-weight);
  color: var(--Dark-Slate-Grey);
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.notification p {
  font-size: 14px;
  line-height: 1.3em;
  padding-bottom: 0.3em;
  color: var(--Charcoal-Grey);
}

.notification p span {
  color: var(--Charcoal-Grey);
  font-weight: var(--bold-weight);
}

.dismiss-button {
  padding: 1.5em;
  margin-top: 1em;
  width: 100%;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  border: none;
  border-radius: 0.9em;
}
.dismiss-button:hover {
  cursor: pointer;
  background-color: var(--Tomato);
  box-shadow: 0px 4px 8px hsl(4, 100%, 67%);
}

.attribution {
  margin-top: auto;
}

.mobile-img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 835px) {
  .top-content h1 {
    font-size: 47px;
  }

  .top-content p{
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .main-container{
    max-width: 375px;
    padding-top: 0;
  }
  .content {
    grid-template-columns: 1fr;
    padding-top: 0;
  }
  .left-content{
    padding-top: 2em;
  }

  .right-content {
    order: -1;
  }

  .notification{
    width: 350px;
  }

  .notification-details h2{
    font-size: 38px;
  }

  .notification-details p{
    font-size: 12px;
  }
}
